# Capstone Project on Apple App Rating

### Problem Summary:
With million of apps around nowadays, mobile app analytics is a great way to understand the existing strategy to drive growth and retention of future user. This data set contains more than 7000 Apple iOS mobile application details, e.g. size, price, genre, rating_count, description and etc. The data was extracted from the iTunes Search API at the Apple Inc website. The goal is to predict whether the overall rating for the app is more than 4 stars (1=yes, 0=no), which we think it a very good app.

# Data Wrangling Steps

1. Data Collection
    * Locating the data
    * Data loading
    * Data joining
2. Data Organization
    * File structure
    * Git & Github
3. Data Definition
    * Column names
    * Data types (numeric, categorical, timestamp, etc.)
    * Description of the columns
    * Count or percent per unique values or codes (including NA)
    * The range of values or codes
4. Data Cleaning
    * NA or missing data
    * Duplicates

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [2]:
print(os.getcwd())

/Users/oluwafemibabatunde

In [3]:
path = '/Users/oluwafemibabatunde/Desktop/Springboard/capstone_one/apple-app'

In [4]:
directory = os.chdir(path)
os.listdir(directory)

['app_train.csv', 'app_test.csv', 'sample_submission.csv']

In [5]:
df_train = pd.read_csv('app_train.csv')

In [10]:
df_train.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic,desc,rating
0,1169417102,ミリオン行進曲,196380672,USD,4.99,1,1,1.02,4+,Games,38,5,1,1,音楽事務所の社長に就任して歌手の卵を育てる、アイドル歌手育成シミュレーションゲーム ！\r\...,0
1,965748314,Pinata Hunter 3,38805504,USD,0.00,199,199,1.0.0,9+,Games,43,3,16,0,"Finally, it is back! The Pinata is here with t...",0
2,307764057,niconico,25808896,USD,0.00,182,0,6.52,17+,Entertainment,37,5,3,1,The Niconico app allows you to watch Niconico ...,0
3,1005783927,Frozen Frenzy Mania: Challenging Match 3 Games,296790016,USD,0.00,4104,143,2.1.1,4+,Games,37,5,1,1,Match ice cream treats to break through cookie...,1
4,350642635,Plants vs. Zombies,105379840,USD,0.99,426463,680,1.9.13,9+,Games,38,0,5,1,The game requires iOS 6 compatible device.\r\n...,1

In [6]:
df_test = pd.read_csv('app_test.csv')

In [11]:
df_test.head()

,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic,desc
0,893525571,Weather & Radar Pro Ad-Free,87799808,USD,2.99,6,1,4.3.2,4+,Weather,37,3,21,1,Hourly weather forecasts. Rainfall radar and s...
1,1116564897,多纳餐厅2,104617984,USD,2.99,0,0,3.1,4+,Education,38,5,1,1,Every child has a little chef dream! Donut Res...
2,1140507373,Mini Games Maps for Minecraft PE - The Best Ma...,93831168,USD,0.00,943,943,1.0,4+,Entertainment,37,4,1,1,Explore the BEST Minecraft PE MINI GAMES Maps ...
3,346184215,TaxCaster – Free tax refund calculator,7111680,USD,0.00,17516,125,7.2,4+,Finance,37,5,1,1,Get a quick estimate of your 2016 tax refund.\...
4,1071712425,中高英文法を10時間で！マジグラ,49196032,USD,0.99,1,1,1.1.0,4+,Education,37,0,1,1,英文法に苦手意識はありませんか？\r\nマジグラを1日たった20分続ければTOEIC英文法を...

In [50]:
figpath = "/Users/oluwafemibabatunde/Desktop/Springboard/capstone_one/apple-app/figures"
if not os.path.isdir(figpath):
   os.makedirs(figpath)

In [51]:
modelpath = "/Users/oluwafemibabatunde/Desktop/Springboard/capstone_one/apple-app/model"
if not os.path.isdir(modelpath):
   os.makedirs(modelpath)

In [8]:
df_train.shape

(5197, 16)

In [9]:
df_test.shape

(2000, 15)

In [12]:
df_train.describe()

,id,size_bytes,price,rating_count_tot,rating_count_ver,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic,rating
count,5.197000e+03,5.197000e+03,5197.000000,5.197000e+03,5197.000000,5197.000000,5197.000000,5197.000000,5197.000000,5197.000000
mean,8.645881e+08,1.970589e+08,1.741312,1.288472e+04,463.634982,37.422359,3.719454,5.405426,0.993265,0.434866
std,2.713919e+08,3.417424e+08,6.534191,7.080212e+04,4039.022340,3.626466,1.981193,7.901467,0.081796,0.495787
min,2.816565e+08,6.184960e+05,0.000000,0.000000e+00,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000
25%,5.998529e+08,4.758528e+07,0.000000,2.700000e+01,1.000000,37.000000,3.000000,1.000000,1.000000,0.000000
50%,9.818191e+08,9.824666e+07,0.000000,3.070000e+02,24.000000,37.000000,5.000000,1.000000,1.000000,0.000000
75%,1.082678e+09,1.853706e+08,1.990000,2.908000e+03,145.000000,38.000000,5.000000,8.000000,1.000000,1.000000
max,1.187839e+09,4.025970e+09,299.990000,2.161558e+06,177050.000000,47.000000,5.000000,75.000000,1.000000,1.000000

In [13]:
df_test.describe()

,id,size_bytes,price,rating_count_tot,rating_count_ver,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
count,2.000000e+03,2.000000e+03,2000.000000,2.000000e+03,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,8.593447e+08,2.045278e+08,1.686995,1.291419e+04,451.900000,37.204500,3.675000,5.511500,0.992500
std,2.708644e+08,4.010908e+08,3.390946,8.729242e+04,3595.068056,4.009079,1.998593,7.967974,0.086299
min,2.826142e+08,5.898240e+05,0.000000,0.000000e+00,0.000000,11.000000,0.000000,0.000000,0.000000
25%,6.025535e+08,4.522675e+07,0.000000,2.875000e+01,1.000000,37.000000,3.000000,1.000000,1.000000
50%,9.694824e+08,9.344563e+07,0.000000,2.750000e+02,21.000000,37.000000,5.000000,1.000000,1.000000
75%,1.081903e+09,1.750474e+08,2.990000,2.535000e+03,131.000000,38.000000,5.000000,8.000000,1.000000
max,1.188376e+09,3.968638e+09,59.990000,2.974676e+06,117470.000000,47.000000,5.000000,74.000000,1.000000

In [15]:
df_train.dtypes

id                    int64
track_name           object
size_bytes            int64
currency             object
price               float64
rating_count_tot      int64
rating_count_ver      int64
ver                  object
cont_rating          object
prime_genre          object
sup_devices.num       int64
ipadSc_urls.num       int64
lang.num              int64
vpp_lic               int64
desc                 object
rating                int64
dtype: object

In [43]:
variable_description = {'id': 'App ID', 'track_name': 'App Name',
'size_bytes': 'Size (in Bytes)', 'currency': 'Currency Type',
'Price': 'Price amount',
'rating_count_tot': 'User Rating counts (for all version)',
'rating_count_ver': 'User Rating counts (for current version)',
'ver': 'Latest version code',
'cont_rating': 'Content Rating',
'prime_genre': 'Primary Genre',
'sup_devices.num': 'Number of supporting devices',
'ipadSc_urls.num': 'Number of screenshots showed for display',
'lang.num': 'Number of supported languages',
'vpp_lic': 'Vpp Device Based Licensing Enabled',
'desc': 'Whether the overall user rating is above 4 stars or not (1=yes, 0=no)'}
variables = pd.DataFrame.from_dict(variable_description, orient = 'Index')
variables.index.name = 'Variables'
variables = variables.rename(columns={0:'Description'})
variables

                                                        Description
Variables
id                                                           App ID
track_name                                                 App Name
size_bytes                                          Size (in Bytes)
currency                                              Currency Type
Price                                                  Price amount
rating_count_tot               User Rating counts (for all version)
rating_count_ver           User Rating counts (for current version)
ver                                             Latest version code
cont_rating                                          Content Rating
prime_genre                                           Primary Genre
sup_devices.num                        Number of supporting devices
ipadSc_urls.num            Number of screenshots showed for display
lang.num                              Number of supported languages
vpp_lic                          Vpp Device Based Licensing Enabled
desc              Whether the overall user rating is above 4 sta...

In [44]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5197 entries, 0 to 5196
Data columns (total 16 columns):
id                  5197 non-null int64
track_name          5197 non-null object
size_bytes          5197 non-null int64
currency            5197 non-null object
price               5197 non-null float64
rating_count_tot    5197 non-null int64
rating_count_ver    5197 non-null int64
ver                 5197 non-null object
cont_rating         5197 non-null object
prime_genre         5197 non-null object
sup_devices.num     5197 non-null int64
ipadSc_urls.num     5197 non-null int64
lang.num            5197 non-null int64
vpp_lic             5197 non-null int64
desc                5197 non-null object
rating              5197 non-null int64
dtypes: float64(1), int64(9), object(6)
memory usage: 649.8+ KB

In [45]:
df_train.nunique()

id                  5197
track_name          5196
size_bytes          5144
currency               1
price                 34
rating_count_tot    2488
rating_count_ver     949
ver                 1305
cont_rating            4
prime_genre           23
sup_devices.num       20
ipadSc_urls.num        6
lang.num              54
vpp_lic                2
desc                5179
rating                 2
dtype: int64

In [47]:
dfSki = df_train.nunique()
dfSize = df_train.size
percentage_dfSki = (dfSki/dfSize)*100
print(percentage_dfSki)

id                  6.250000
track_name          6.248797
size_bytes          6.186261
currency            0.001203
price               0.040889
rating_count_tot    2.992111
rating_count_ver    1.141283
ver                 1.569415
cont_rating         0.004810
prime_genre         0.027660
sup_devices.num     0.024052
ipadSc_urls.num     0.007216
lang.num            0.064941
vpp_lic             0.002405
desc                6.228353
rating              0.002405
dtype: float64

In [49]:
df_train.agg([min, max]).T

,min,max
id,281656475,1187838770
track_name,! OH Fantastic Free Kick + Kick Wall Challenge,Ｘ:15秒の人気 アクション ゲーム
size_bytes,618496,4025969664
currency,USD,USD
price,0,299.99
rating_count_tot,0,2161558
rating_count_ver,0,177050
ver,0.0.15,v2.13.9
cont_rating,12+,9+
prime_genre,Book,Weather
sup_devices.num,9,47
ipadSc_urls.num,0,5
lang.num,0,75
vpp_lic,0,1
desc,! Now on X'mas special sales (~2017 Jan. 3rd) ...,～Ｓｔｏｒｙ～\r\n「私」は何者かに襲われ、地下の牢獄で目を覚ます。\r\n―そして次々と...
rating,0,1

In [55]:
duplicateRowsDF = df_train[df_train.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [id, track_name, size_bytes, currency, price, rating_count_tot, rating_count_ver, ver, cont_rating, prime_genre, sup_devices.num, ipadSc_urls.num, lang.num, vpp_lic, desc, rating]
Index: []

Some of the data warngling steps were skipped because the data was cleaned from its source. 
The df_train is clean of null values and no feature is dropped from the data set. 
Hence, there is no need to write the data set out as the original data will be used.